.meu-paragrafo {
    background-color: black;
    color: red;
}

#titulo-principal {
    background-color: yellow;
    color: black;
    padding: 10px;
    font-family: helvetica;
}

* {
    font-family: Arial;
}



.box-model {
    width: 200px;
    height: 100px;
    border: 1px solid blue;
    padding: 20px;
    margin: 20px;
}

.alinhamento {
    text-align: center;
}

.Transform-maiuscula {
    text-transform: uppercase;
}

.espacamento {
    width: 150px;
    line-height: 40px;
    letter-spacing: 8px;
}

.decoration {
    text-decoration: none;
}

.visitado {
    color: orange;
}

.estilo-hover:hover {
    background-color: #1292ae;
}

.btn {
    background-color: #34ae43;
    border: 3px solid #234966;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 120px;
    padding: 12px 7px;
    text-align: center;
    margin: 20px;
    transition: 0.5s;
}

.btn:hover {
    background-color: #234966;
}

.sem-estilo {
    list-style: none;
}

.inline {
    width: 50px;
    height: 50px;
    background-color: teal;
    margin: 5px;
    display: inline-block;
}

.bloco {
    display: block;
}

.hidden {
    display: none;
}

.elemento-fixo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #1292ae;
    border-bottom: 2px solid #342299;
    color: #fff;
}

.primeiro-elemento p:first-child {
    color: purple;
    font-weight: bold;
}

.primeira-letra::first-letter {
    font-size: 40px;
    color: blue;
    background-color: red;
    padding: 4px;
}

h2 {
    color: red;
}

.titulo {
    color: green;
}

#meu-titulo-preferido {
    color: blue;
}

h2 {
    color: purple !important;
}